<div class="profile-menu" id="profile-menu">
    <div class="profile-menu-inner">
        <div class="profile-menu-user">
            <div class="profile-menu-user-inner">
                <div class="profile-menu-user-avatar">
                    <img src="{{linkImage}}" alt="avatar" class="profile-menu-user-avatar__img"/>
                </div>

                <div class="profile-menu-user-info">
                    <span class="profile-menu-user-info__name">{{name}} {{surname}}</span>

                    <div class="profile-menu-user-info-rating">
                        <div class="profile-menu-user-info-rating__text">{{rating}}</div>

                        <div class="profile-menu-user-info-rating__rate">
                            <span id="star-1"></span>
                            <span id="star-2"></span>
                            <span id="star-3"></span>
                            <span id="star-4"></span>
                            <span id="star-5"></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="profile-menu__separator"></div>

        <div class="profile-menu-buttons">
            <div class="profile-menu-buttons-inner">
                {{#if owner}}
                    <a href="/user/profile" class="profile-menu-buttons-item" id="profile-menu-settings">
                        <img src="/img/svg/gear.svg" alt="profile" class="profile-menu-buttons-item__logo">
                        <span class="profile-menu-buttons-item__text">Настройки</span>
                    </a>

                    <a href="/user/ad" class="profile-menu-buttons-item" id="profile-menu-posts">
                        <img src="/img/svg/list.svg" alt="ad" class="profile-menu-buttons-item__logo">
                        <span class="profile-menu-buttons-item__text">Мои объявления</span>
                    </a>

                    <a href="/user/chats" class="profile-menu-buttons-item" id="profile-menu-messages">
                        <img src="/img/svg/email.svg" alt="message" class="profile-menu-buttons-item__logo">
                        <span class="profile-menu-buttons-item__text">Мои сообщения</span>
                    </a>

                    <a href="/user/favorite" class="profile-menu-buttons-item" id="profile-menu-favorites">
                        <img src="/img/svg/like_light.svg" alt="favorite"
                             class="profile-menu-buttons-item__logo">
                        <span class="profile-menu-buttons-item__text">Избранное</span>
                    </a>

                    <a href="/user/{{id}}/achievements" class="profile-menu-buttons-item"
                       id="profile-menu-achievements">
                        <img src="/img/svg/badge.svg" alt="profile" class="profile-menu-buttons-item__logo">
                        <span class="profile-menu-buttons-item__text">Достижения</span>
                    </a>

                    <a href="/user/{{id}}/reviews" class="profile-menu-buttons-item" id="profile-menu-comments">
                        <img src="/img/svg/comments.svg" alt="profile" class="profile-menu-buttons-item__logo">
                        <span class="profile-menu-buttons-item__text">Отзывы</span>
                    </a>

                    <a href="/user/review/await" class="profile-menu-buttons-item" id="profile-menu-review-await">
                        <img src="/img/svg/comment-await.svg" alt="profile" class="profile-menu-buttons-item__logo">
                        <span class="profile-menu-buttons-item__text">Ожидает отзыв</span>
                    </a>
                {{else}}
                    <a href="/user/{{id}}/ad" class="profile-menu-buttons-item" id="profile-menu-landing">
                        <img src="/img/svg/list.svg" alt="ad" class="profile-menu-buttons-item__logo">
                        <span class="profile-menu-buttons-item__text">Все объявления</span>
                    </a>

                    <a href="/user/{{id}}/achievements" class="profile-menu-buttons-item"
                       id="profile-menu-achievements">
                        <img src="/img/svg/badge.svg" alt="profile" class="profile-menu-buttons-item__logo">
                        <span class="profile-menu-buttons-item__text">Достижения</span>
                    </a>

                    <a href="/user/{{id}}/reviews" class="profile-menu-buttons-item" id="profile-menu-comments">
                        <img src="/img/svg/comments.svg" alt="profile" class="profile-menu-buttons-item__logo">
                        <span class="profile-menu-buttons-item__text">Отзывы</span>
                    </a>
                {{/if}}
            </div>
        </div>
    </div>
</div>
