<div class="one-await-review" data-product-id="{{productId}}" data-user-id="{{userId}}">
    <div class="one-await-review-inner" data-action="awaitReviewClick">

        <div class="one-await-review-content">
            <div class="one-await-review-content-avatars">
                <img src="{{productImg}}" alt="product" class="one-await-review-content-avatars__product">
                <img src="{{userImg}}" alt="user" class="one-await-review-content-avatars__user">
            </div>

            <div class="one-await-review-content-info">
                <div class="one-await-review-content-info-inner">
                    <span class="one-await-review-content-info__user">{{userName}}</span>
                    <span class="one-await-review-content-info__product">{{productName}}</span>
                </div>
            </div>
        </div>

        <!--        <div class="one-await-review-inner__separator"></div>-->

    </div>
</div>