<div class="product-des form-spacing">
    <div class="product-des-topic">
        <p class="product-des-topic__title"> {{this.title}} </p>
    </div>
    <div class="form-inner">
        <input class="auth-content-form__input auth-content-form__country reg-panel__coutry-code"
               readOnly required value="+7">
        <input class="auth-content-form__input auth-content-form__tel reg-panel__tel"
               data-action="{{this.dataAction}}" data-move="showError" data-moveout="hideError"
               id="{{this.id}}" type="{{this.inputType}}" placeholder="{{this.placeholder}}"
               name="{{this.id}}" required>
    </div>
</div>