<div class="reg-des form-spacing">
    <div class="reg-des-topic">
        <p class="reg-des-topic__title"> {{this.title}} </p>
    </div>
    <div class="reg-form-inner">
        <input {{this.params}} class="reg-panel__textfield" data-action="{{this.dataAction}}"
                               data-move="showError" data-moveout="hideError" id="{{this.id}}"
                               type="{{this.inputType}}" placeholder="{{this.placeholder}}"
                               name="{{this.id}}"/>
    </div>
</div>