<div class="reg-des">
    <div class="reg-des-topic">
        <p class="reg-des-topic__title"> {{this.title}} </p>
    </div>
    <div class="reg-form-inner">
        <select id="{{this.id}}" class="reg-panel__textfield" name="{{this.id}}">
            {{#each options}}
                <option value="{{this.value}}">{{this.title}}</option>
            {{/each}}
        </select>
    </div>
</div>