<div class="reg-des">
    <div class="reg-des-topic">
        <p class="reg-des-topic__title"> {{this.title}} </p>
    </div>
    <div class="reg-form-inner">
        <textarea class="form-row__textarea" data-action="{{this.dataAction}}"
                  data-move="showError" data-moveout="hideError" id="{{this.id}}"
                  placeholder="{{this.placeholder}}" name="{{this.id}}" maxlength="5000"></textarea>
    </div>
</div>