<div class="reg-des">
    <div class="reg-des-topic">
        <p class="reg-des-topic__title"> {{this.title}} </p>
    </div>
    <div class="reg-form-inner">
        <input class="reg-panel__coutry-code"
               readOnly required value="+7">
        <input class="reg-panel__tel"
               data-action="{{this.dataAction}}" data-move="showError" data-moveout="hideError"
               id="{{this.id}}" type="{{this.inputType}}" placeholder="{{this.placeholder}}"
               name="{{this.id}}" required>
    </div>
</div>