<div class="product-des form-spacing">
    <div class="product-des-topic">
        <p class="product-des-topic__title"> {{this.title}} </p>
    </div>
    <div class="form-inner">
        <input {{this.params}} class="reg-panel__textfield" data-action="{{this.dataAction}}"
           data-move="showError" data-moveout="hideError" id="{{this.id}}"
           type="{{this.inputType}}" placeholder="{{this.placeholder}}"
           name="{{this.id}}"/>
    </div>
</div>