<div class="one-chat" id="one-chat" data-chat-id="{{chatID}}">
    <div class="one-chat-inner">

        <div class="one-chat-content">
            <div class="one-chat-avatar">
                <img src="{{img}}" alt="product" class="one-chat-avatar__img">
            </div>

            <div class="one-chat-info">
                <div class="one-chat-info-title">
                    <span class="one-chat-info-title__name">{{name}}</span>
                    <span class="one-chat-info-title__date">{{date}}</span>
                </div>

                <span class="one-chat-info__message">{{message}}</span>
            </div>
        </div>

        <div class="one-chat__separator"></div>

    </div>
</div>