<div class="form-row" id="_profile-pic{{this}}">
    <label class="form-row__photolabel" data-action="clickUpload" data-move="showCross" data-moveout="hideCross"
           data-id="{{this}}">
        <img class="product__pic" id="product__pic{{this}}" data-id="{{this}}" src="/img/svg/transparent.svg" alt="">
        <div class="cross error-hidden" id="delete{{this}}" data-id='{{this}}' data-action="delete"></div>
    </label>
</div>